* {
	margin: 0; 
	padding: 0;
	-webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
a {text-decoration: none;}
li {list-style-type: none;}
.nav-root:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
}
.nav-root {
	line-height: 46px;
}
.nav-root > li {
	float: left;
	padding: 0 20px;
	font-size: 16px;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
.submenu {
	margin-top: 7px;
	z-index: 999;
	min-width: 200px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
	font-size: 14px;
}
.submenu-title {
	padding: 0 20px;
	text-align: center;
}
.submenu-group-title {
	line-height: 1.5;
	padding: 8px 16px;
}
.submenu-group-list > .menu-item {
	padding: 0px 16px 0 28px;
  line-height: 42px;
  height: 42px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.submenu > .menu-item {
	padding: 0 16px;
}
.submenu-title:hover,.submenu-group-list > .menu-item:hover,.submenu > .menu-item:hover {color: #108ee9;}